*{
	margin: 0;
	padding: 0;
}

body{
	background-color: blue;
}

p{
	color: red;
	font-weight: bold;
	display: inline;
}

a{
	text-decoration: none;
	color: red;
}

a:hover{
	color: black;
}

a:active{
	color:blue;
}

.clr{
	clear: both;
}
.button{
	background-color: yellow;
	color: black;
	font-weight: bold;
	padding: 5px 10px;
	border: solid black;
}

.button:hover{
	background-color: purple;
}

/* to call a class type "." + "name of class" */
.spoiler{
	background-color: yellow;
	color: red;
	display: inline;
}

.spoiler-text{
	visibility: hidden;
	display: inline;
}

.spoiler:hover .spoiler-text{
	visibility: visible;
	display: inline;
}

.box1{
	background-color: yellow;
	border: 10px black double;
	padding: 20px;
	margin-bottom: 30px;
}

.box1 h1{
	/* This way you can edit any h1 inside box1 */
	color: black;
	font-weight: bold;
	font-size: 30px;
	font-family: Times New Roman;
}

.container{
	width: 70%;
	margin: auto;
}

.container h1{
		/* same as above */
	font: bold 30px Times New Roman;
}

.container h2{
		/* same as above */
	font: bold 30px Times New Roman;
}

.categories{
	background-color: orange;
	padding: 20px;
	margin-bottom: 30px;
	border: 10px black double;
	text-align: center;
}

.categories h2{
	border-bottom: double black 10px;
}

.categories ul{
	list-style-type: none;
}

.categories li{
	border-bottom: double black 10px;
}

.myform {
	padding: 10px;
	background-color: orange;
	border: 10px black double;
}

.myform .formgroup{
	padding-bottom: 10px;
}

.myform label{
	display: block;
	color: red;
	font-weight: bold;
}

.myform textarea{
	padding: 5px;
	width:90%;
}

.block{
	box-sizing: border-box;
	float:left;
	width:33.3%;
	border: black double 10px;
	background-color: whitesmoke;
}

